<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href='/sign-up'>Sign Up</a>
      <% if (typeof user !== 'undefined') { %>
        <a href='/log-out'>Log out</a>
        <p>Membership status: <%= user.status %></p>
        <% if (!user.isMember) { %>
          <a href='/membership'>Become a member</a>
          <% } %>
          <% if (user.isAdmin) { %>
            <a href='/add-admin'>Add admin rights to a user</a>
            <% } %>
        <% } else { %>
      <a href='/log-in'>Log in</a>
      <% } %>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class='message'>
      <% for(let i=0; i< messages.length; i++) {%>
        <% if (typeof user !== 'undefined') { %>
          <% if (user.isMember) { %>
          <h3><%= 'Author: ' + messages[i].author.full_name %></h2>
          <% } %>
        <% } %>
        <p><%= messages[i].date %></p>
        <p><%= messages[i].text %></p>
        <% if (typeof user != 'undefined' && user.isAdmin) { %>
          <form action="<%= '/message/delete/' + messages[i]._id %>"" method='POST'>
            <input type='submit' value='Delete this message'>
          </form>
        <% } %>
        <% } %>
    </div>
    <% if(typeof user !== 'undefined') { %>
      <% if(user.isMember === true) { %>
    <form action='' method='POST'>
      <label for='message'>New Message</label>
      <textarea name='message'></textarea>
      <input type='submit'>
    </form>
    <% } %>
    <% } %>
    <div>
    <% if (typeof errors !== 'undefined') { %>
      <% for (let i=0; i < errors.length; i++) { %>
        <p><%= errors[i].msg %></p>
      <%} %>
    <% } %>
    </div>
  </body>
</html>
