<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href='/sign-up'>Sign Up</a>
      <% if (user) { %>
        <a href='/log-out'>Log out</a>
        <% if (!user.isMember) { %>
          <a href='/membership'>Become a member</a>
          <% } %>
        <% } else { %>
      <a href='/log-in'>Log in</a>
      <% } %>
    </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class='message'>
      <% for(let i=0; i< messages.length; i++) {%>
        <% if (user) { %>
          <% if (user.isMember) { %>
          <h2><%= messages[i].author.full_name %></h2>
          <% } %>
        <% } %>
        <p><%= messages[i].text %></p>
        <% } %>
    </div>
  </body>
</html>
